<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" th:href="@{/css/style.css}" />
  </head>
  <body>
    <div class="container">
      <!-- Imprimir todos os livros -->
      <div class="lista-livros">
        <tr th:each="liv : ${listaLivros}">
          <div class="livro">
            <h1 class="titulo"><td th:text="${liv.titulo}">a</td></h1>
            <p>
              Autor(a):
              <td th:text="${liv.autor}">a</td>
            </p>
            <p>
              Editora:
              <td th:text="${liv.editora}">a</td>
            </p>
            <p>
              Ano de publicação:
              <td th:text="${liv.ano_publicacao}">a</td>
            </p>
            <p>
              Gênero(s):
              <td th:text="${liv.genero}">a</td>
            </p>
            <p>
              ISBN:
              <td th:text="${liv.isbn}">a</td>
            </p>
            <p>
              Qtd. páginas:
              <td th:text="${liv.num_paginas}">a</td>
            </p>
          </div>
        </tr>
      </div>
      <!-- Formulário de cadastro -->
      <div></div>
      <!-- Formulários de pesquisa -->
      <div class="acoes-livro">
        <form th:action="@{/livro/getById/{id}(id=${id})}" th:method="get">
          <label for="idLivro">Insira o ID do livro:</label>
          <input
            type="number"
            id="idLivro"
            name="id"
            placeholder="Digite aqui"
          />
          <button type="submit">Pesquisar por ID</button>
        </form>
        <div class="livro" th:if="${livroId != null}">
          <h1 th:text="${livroId.titulo}" class="titulo">a</h1>
          <p>Autor(a): <span th:text="${livroId.autor}">a</span></p>
          <p>Editora: <span th:text="${livroId.editora}">a</span></p>
          <p>
            Ano de publicação:
            <span th:text="${livroId.ano_publicacao}">a</span>
          </p>
          <p>Gênero(s): <span th:text="${livroId.genero}">a</span></p>
          <p>ISBN: <span th:text="${livroId.isbn}">a</span></p>
          <p>Qtd. páginas: <span th:text="${livroId.num_paginas}">a</span></p>
        </div>

        <form th:action="@{'/livro/getByTitulo/' + titulo}">
          <label for="titulo">Insira o título do livro:</label>
          <input
            type="text"
            id="titulo"
            name="titulo"
            placeholder="Digite aqui"
          />
          <button type="submit">Pesquisar por título</button>
        </form>

        <form th:action="@{'/livro/getByIsbn/' + isbn}">
          <label for="isbn">Insira o ISBN do livro:</label>
          <input
            type="number"
            id="isbn"
            name="isbn"
            placeholder="Digite aqui"
          />
          <button type="submit">Pesquisar por ISBN</button>
        </form>
      </div>
      <!-- Formulário de deletar -->
      <div></div>
    </div>
  </body>
</html>
