<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home</title>
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}" />
  </head>
  <body>
    <div class="container mt-4">
      <a class="btn btn-primary" th:href="@{/livro/cadastro}" role="button"></a>
      <br />
      <table class="table">
        <thead>
          <tr>
            <th scope="col">ID</th>
            <th scope="col">Título</th>
            <th scope="col">Autor</th>
            <th scope="col">Editora</th>
            <th scope="col">Ano de publicação</th>
            <th scope="col">Ações</th>
          </tr>
        </thead>
        <tbody>
          <tr th:each="liv : ${listaLivros}">
            <td th:text="${liv.id_livro}" />
            <td th:text="${liv.titulo}" />
            <td th:text="${liv.autor}" />
            <td th:text="${liv.editora}" />
            <td th:text="${liv.ano_publicacao}" />
            <td>
              <div class="container">
                <a
                  class="btn btn-primary"
                  th:href="@{/livro/view/{id}(id=${liv.id_livro})}"
                  role="button"
                  >Visualizar</a
                >
                <a
                  class="btn btn-warning"
                  th:href="@{/livro/edit/{id}(id=${liv.id_livro})}"
                  role="button"
                  >Editar</a
                >
                <a
                  class="btn btn-danger"
                  th:href="@{/livro/delete/{id}(id=${liv.id_livro})}"
                  role="button"
                  onclick="return confirm('Tem certeza que deseja excluir este livro?')"
                  >Deletar</a
                >
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <script th:src="@{/js/bootstrap.bundle.min.js}"></script>
  </body>
</html>
