.container {
  padding: none;
  margin: none;
  box-sizing: border-box;
  font-size: 16px;
}

button {
  border: none;
  padding: 10px;
  border-radius: 10px;
  background-color: bisque;
}

button:hover {
  box-shadow: 5px 10px 5px black;
  transition: 0.5s;
}

.lista-livros {
  margin: 50px;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
}

.livro {
    background-color: bisque;
    border-radius: 10px;
}